# SciPy 2016 Scikit-learn Tutorial

# Case Study  - Titanic Survival

# Feature Extraction

Here we will talk about an important piece of machine learning: the extraction of
quantitative features from data.  By the end of this section you will

- Know how features are extracted from real-world data.
- See an example of extracting numerical features from textual data

In addition, we will go over several basic tools within scikit-learn which can be used to accomplish the above tasks.

## What Are Features?

### Numerical Features

Recall that data in scikit-learn is expected to be in two-dimensional arrays, of size
**n_samples** $\times$ **n_features**.

Previously, we looked at the iris dataset, which has 150 samples and 4 features

In [1]:
from sklearn.datasets import load_iris

iris = load_iris()
print(iris.data.shape)

(150, 4)

These features are:

- sepal length in cm
- sepal width in cm
- petal length in cm
- petal width in cm

Numerical features such as these are pretty straightforward: each sample contains a list
of floating-point numbers corresponding to the features

### Categorical Features

What if you have categorical features?  For example, imagine there is data on the color of each
iris:

    color in [red, blue, purple]

You might be tempted to assign numbers to these features, i.e. *red=1, blue=2, purple=3*
but in general **this is a bad idea**.  Estimators tend to operate under the assumption that
numerical features lie on some continuous scale, so, for example, 1 and 2 are more alike
than 1 and 3, and this is often not the case for categorical features.

In fact, the example above is a subcategory of "categorical" features, namely, "nominal" features. Nominal features don't imply an order, whereas "ordinal" features are categorical features that do imply an order. An example of ordinal features would be T-shirt sizes, e.g., XL > L > M > S. 

One work-around for parsing nominal features into a format that prevents the classification algorithm from asserting an order is the so-called one-hot encoding representation. Here, we give each category its own dimension.  

The enriched iris feature set would hence be in this case:

- sepal length in cm
- sepal width in cm
- petal length in cm
- petal width in cm
- color=purple (1.0 or 0.0)
- color=blue (1.0 or 0.0)
- color=red (1.0 or 0.0)

Note that using many of these categorical features may result in data which is better
represented as a **sparse matrix**, as we'll see with the text classification example
below.

#### Using the DictVectorizer to encode categorical features

When the source data is encoded has a list of dicts where the values are either strings names for categories or numerical values, you can use the `DictVectorizer` class to compute the boolean expansion of the categorical features while leaving the numerical features unimpacted:

In [2]:
measurements = [
    {'city': 'Dubai', 'temperature': 33.},
    {'city': 'London', 'temperature': 12.},
    {'city': 'San Francisco', 'temperature': 18.},
]

In [3]:
from sklearn.feature_extraction import DictVectorizer

vec = DictVectorizer()
vec

DictVectorizer(dtype=<class 'numpy.float64'>, separator='=', sort=True,
        sparse=True)

In [4]:
vec.fit_transform(measurements).toarray()

array([[  1.,   0.,   0.,  33.],
       [  0.,   1.,   0.,  12.],
       [  0.,   0.,   1.,  18.]])

In [5]:
vec.get_feature_names()

['city=Dubai', 'city=London', 'city=San Francisco', 'temperature']

### Derived Features

Another common feature type are **derived features**, where some pre-processing step is
applied to the data to generate features that are somehow more informative.  Derived
features may be based in **feature extraction** and **dimensionality reduction** (such as PCA or manifold learning),
may be linear or nonlinear combinations of features (such as in polynomial regression),
or may be some more sophisticated transform of the features.

### Combining Numerical and Categorical Features

As an example of how to work with both categorical and numerical data, we will perform survival predicition for the passengers of the HMS Titanic.

We will use a version of the Titanic (titanic3.xls) from [here](http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls). We converted the .xls to .csv for easier manipulation but left the data is otherwise unchanged.

We need to read in all the lines from the (titanic3.csv) file, set aside the keys from the first line, and find our labels (who survived or died) and data (attributes of that person). Let's look at the keys and some corresponding example lines.

In [6]:
import os
import pandas as pd

titanic = pd.read_csv(os.path.join('./', 'titanic3.csv'))
print(titanic.columns)

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

Here is a broad description of the keys and what they mean:

```
pclass          Passenger Class
                (1 = 1st; 2 = 2nd; 3 = 3rd)
survival        Survival
                (0 = No; 1 = Yes)
name            Name
sex             Sex
age             Age
sibsp           Number of Siblings/Spouses Aboard
parch           Number of Parents/Children Aboard
ticket          Ticket Number
fare            Passenger Fare
cabin           Cabin
embarked        Port of Embarkation
                (C = Cherbourg; Q = Queenstown; S = Southampton)
boat            Lifeboat
body            Body Identification Number
home.dest       Home/Destination
```

In general, it looks like `name`, `sex`, `cabin`, `embarked`, `boat`, `body`, and `homedest` may be candidates for categorical features, while the rest appear to be numerical features. We can also look at the first couple of rows in the dataset to get a better understanding:

In [7]:
titanic.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

We clearly want to discard the "boat" and "body" columns for any classification into survived vs not survived as they already contain this information. The name is unique to each person (probably) and also non-informative. For a first try, we will use "pclass", "sibsp", "parch", "fare" and "embarked" as our features:

In [8]:
labels = titanic.survived.values
features = titanic[['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked']]

In [9]:
features.head()

   pclass     sex      age  sibsp  parch      fare embarked
0       1  female  29.0000      0      0  211.3375        S
1       1    male   0.9167      1      2  151.5500        S
2       1  female   2.0000      1      2  151.5500        S
3       1    male  30.0000      1      2  151.5500        S
4       1  female  25.0000      1      2  151.5500        S

The data now contains only useful features, but they are not in a format that the machine learning algorithms can understand. We need to transform the strings "male" and "female" into binary variables that indicate the gender, and similarly for "embarked".
We can do that using the pandas ``get_dummies`` function:

In [10]:
pd.get_dummies(features).head()

,pclass,age,sibsp,parch,fare,sex_female,sex_male,embarked_C,embarked_Q,embarked_S
0,1,29.0000,0,0,211.3375,1,0,0,0,1
1,1,0.9167,1,2,151.5500,0,1,0,0,1
2,1,2.0000,1,2,151.5500,1,0,0,0,1
3,1,30.0000,1,2,151.5500,0,1,0,0,1
4,1,25.0000,1,2,151.5500,1,0,0,0,1

This transformation successfully encoded the string columns. However, one might argue that the class is also a categorical variable. We can explicitly list the columns to encode using the ``columns`` parameter, and include ``pclass``:

In [11]:
features_dummies = pd.get_dummies(features, columns=['pclass', 'sex', 'embarked'])
features_dummies.head(n=16)

,age,sibsp,parch,fare,pclass_1,pclass_2,pclass_3,sex_female,sex_male,embarked_C,embarked_Q,embarked_S
0,29.0000,0,0,211.3375,1,0,0,1,0,0,0,1
1,0.9167,1,2,151.5500,1,0,0,0,1,0,0,1
2,2.0000,1,2,151.5500,1,0,0,1,0,0,0,1
3,30.0000,1,2,151.5500,1,0,0,0,1,0,0,1
4,25.0000,1,2,151.5500,1,0,0,1,0,0,0,1
5,48.0000,0,0,26.5500,1,0,0,0,1,0,0,1
6,63.0000,1,0,77.9583,1,0,0,1,0,0,0,1
7,39.0000,0,0,0.0000,1,0,0,0,1,0,0,1
8,53.0000,2,0,51.4792,1,0,0,1,0,0,0,1
9,71.0000,0,0,49.5042,1,0,0,0,1,1,0,0
10,47.0000,1,0,227.5250,1,0,0,0,1,1,0,0
11,18.0000,1,0,227.5250,1,0,0,1,0,1,0,0
12,24.0000,0,0,69.3000,1,0,0,1,0,1,0,0
13,26.0000,0,0,78.8500,1,0,0,1,0,0,0,1
14,80.0000,0,0,30.0000,1,0,0,0,1,0,0,1
15,NaN,0,0,25.9250,1,0,0,0,1,0,0,1

In [12]:
data = features_dummies.values

In [13]:
import numpy as np
np.isnan(data).any()

True

With all of the hard data loading work out of the way, evaluating a classifier on this data becomes straightforward. Setting up the simplest possible model, we want to see what the simplest score can be with `DummyClassifier`.

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Imputer


train_data, test_data, train_labels, test_labels = train_test_split(data, labels, random_state=0)

imp = Imputer()
imp.fit(train_data)
train_data_finite = imp.transform(train_data)
test_data_finite = imp.transform(test_data)

In [15]:
from sklearn.dummy import DummyClassifier

clf = DummyClassifier('most_frequent')
clf.fit(train_data_finite, train_labels)
print("Prediction accuracy: %f" % clf.score(test_data_finite, test_labels))

Prediction accuracy: 0.634146

Exercise
=====
Try executing the above classification, using LogisticRegression and RandomForestClassifier instead of DummyClassifier

Does selecting a different subset of features help?

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

logreg =  LogisticRegression()
logreg.fit(train_data_finite, train_labels)
print("Prediction accuracy: %f\n" % logreg.score(test_data_finite, test_labels))

print(classification_report(test_labels, 
                            logreg.predict(test_data_finite), 
                            target_names=['Not Survived', 'Survived']))

Prediction accuracy: 0.792683

              precision    recall  f1-score   support

Not Survived       0.82      0.86      0.84       208
    Survived       0.74      0.68      0.70       120

 avg / total       0.79      0.79      0.79       328

In [17]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=7)

knn.fit(train_data_finite, train_labels)
print("Prediction accuracy: %f\n" % knn.score(test_data_finite, test_labels))

print(classification_report(test_labels, 
                            knn.predict(test_data_finite), 
                            target_names=['Not Survived', 'Survived']))

Prediction accuracy: 0.710366

              precision    recall  f1-score   support

Not Survived       0.75      0.81      0.78       208
    Survived       0.62      0.54      0.58       120

 avg / total       0.70      0.71      0.71       328

In [18]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=300, n_jobs=1, random_state=0)

rf.fit(train_data_finite, train_labels)
print("Prediction accuracy: %f\n" % rf.score(test_data_finite, test_labels))

print(classification_report(test_labels, 
                            rf.predict(test_data_finite), 
                            target_names=['Not Survived', 'Survived']))

Prediction accuracy: 0.774390

              precision    recall  f1-score   support

Not Survived       0.80      0.87      0.83       208
    Survived       0.73      0.62      0.67       120

 avg / total       0.77      0.77      0.77       328

In [19]:
from sklearn.model_selection import KFold

k_fold = KFold(n_splits=10, shuffle=True, random_state=101)

train_rows, train_cols = train_data_finite.shape
test_rows, test_cols  = test_data_finite.shape

train_data_enhanced = np.hstack( (train_data_finite.copy(), np.zeros((train_rows, 3))) )
test_data_enhanced = np.hstack( (test_data_finite.copy(), np.zeros((test_rows, 3))) )

for train_index, test_index in k_fold.split(train_data_enhanced):
    for k, cls in enumerate([logreg, knn, rf]):
        cls.fit(train_data_enhanced[train_index, :train_cols], train_labels[train_index])
        train_data_enhanced[test_index, train_cols+k] = cls.predict_proba(train_data_enhanced[test_index, :train_cols])[:,1]

In [20]:
for k, cls in enumerate([logreg, knn, rf]):
    cls.fit(train_data_enhanced[:, :train_cols], train_labels[:])
    test_data_enhanced[:, test_cols+k] = cls.predict_proba(test_data_enhanced[:, :test_cols])[:,1]

In [21]:
from scipy.stats.stats import pearsonr

logreg_knn = pearsonr(train_data_enhanced[:,12], train_data_enhanced[:,13])[0]
logreg_rf  = pearsonr(train_data_enhanced[:,12], train_data_enhanced[:,14])[0]
knn_rf     = pearsonr(train_data_enhanced[:,13], train_data_enhanced[:,14])[0]

print(logreg_knn**2, logreg_rf**2, knn_rf**2)

0.299155623256 0.654286124536 0.312744330643

In [22]:
from sklearn.ensemble import RandomForestClassifier

ensembler = RandomForestClassifier(n_estimators=300, n_jobs=-1, random_state=2)

ensembler.fit(train_data_enhanced, train_labels)
print("Prediction accuracy: %f\n" % ensembler.score(test_data_enhanced, test_labels))

print(classification_report(test_labels, 
                            ensembler.predict(test_data_enhanced), 
                            target_names=['Not Survived', 'Survived']))

Prediction accuracy: 0.823171

              precision    recall  f1-score   support

Not Survived       0.82      0.92      0.87       208
    Survived       0.82      0.66      0.73       120

 avg / total       0.82      0.82      0.82       328